* {
    margin: 0;
    padding: 0;
}
header {
    font-size: 100px;
    color: #ffffff;
    background-color: #000;
    text-align: center;
    padding: 30px;
}
.div1 {
    width: 700px;
    height: 80px;
    padding-top: 30px;
    margin: 0 auto;

}
#input-url {
    width: 600px;
}
.div2 {
    /* width: 1200px; */
    /* height: auto; */
    margin: 0 auto;
    padding: 50px;
}

#div-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    /* minmax(300px, 1fr)은 부모 안에 자식들이 최소 300px씩 1fr만큼 일정한 비율로 차지함
    예를 들어 부모안에 자식 5개가 있으면 20%씩, 4개 있으면 25%씩 차지함  */
    text-align: center;
    gap: 20px;
}