* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'HS-Regular';
}
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a {
    text-decoration: none;
    padding: 5px;
}
/* 헤더 */
header {
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
header > h1 {
    font-size: 90px;
    padding: 10px;
}

/* 메인페이지 */
.main-body {
    background-image: url(../img/메인배경3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-a {
    display: inline-block;
    position: relative;
}
.main-jpg {
    background-image: url(../img/고양이그룹.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 447px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 50%;
}
.main-div {
    position: absolute;
    font-size: 40px;
    bottom: 100px;
    right: 505px;
}

/* list 페이지  */
.list-body {
    background-image: url(../img/올배경.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.list-main {
    width: 1100px;
    margin: 0px auto;
    position: relative;
}
.list-table {
    width: 1100px;
    border: 2px solid #000;
    background-color: rgba(176, 160, 134, 0.8);
    /* margin: 50px auto; */
    border-collapse: collapse;
}

tbody {
    width: 1100px;
    height: 600px;
}
.list-main-div {
    text-align: right;
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    right: 10px;
}
.list-section {
    text-align: center;
    font-size: 30px;
}
.list-tr1 {
    height: 100px;
    background-color: rgba(215, 200, 169, 0.8);
    border-bottom: 1px solid #000;
   
}
.list-th {
    font-size: 35px;
    text-align: center;
}
.list-td {
    font-size: 25px;
    text-align: center;
}
.list-act-btn {
    color: rgb(215, 200, 169);
}

/* detail 페이지 */

.detail-tr {
    font-size: 30px;
}
.detail-td {
    text-align: center; 
}
.detail-th {
    border-right: 1px solid #000;
    background-color: rgba(215, 200, 169, 0.8);
    width: 250px;

}
td, th {
    border-bottom: 1px solid #000;
}

.detail-btn {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}
/* insert 페이지 */
.insert-field {
    border: none;
    text-align: center;
}
.insert-container {
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: 600px;
    margin: 0 auto;
    padding-top: 50px;
}
.insert-container > label {
    font-size: 40px;
    width: 100px;
    height: 54px;
    line-height: 60px;
    background-color: rgba(215, 200, 169, 0.8);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid #000;
    border-bottom: none;
}
.insert-tit {
    font-size: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    border: 2px solid #000;
    opacity: 0.8;

}
.insert-cont {
    font-size: 30px;
    resize: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    border: 2px solid #000;
    opacity: 0.8;
}
.insert-div-btn {
    text-align: center;
}
.insert-btn {
    border: none;
    font-size: 30px;
    background: none;
    padding: 0 20px;
    
}
/* delete 페이지 */
.delete-main {
    width: 1100px;
    margin: 0px auto;
    position: relative;
}
/* .delete-table {
    width: 900px;
    border: 2px solid #000;
    background-color: rgba(176, 160, 134, 0.8);
    border-collapse: collapse;
} */
.delete-tbody {
    width: 1100px;
    height: 531px;
}
.delete-th {
    border-right: 1px solid #000;
    background-color: rgba(215, 200, 169, 0.8);
    width: 250px;
}
.delete-tr {
  font-size: 30px;
}
.delete-td {
  text-align: center; 
}
.delete-msg {
    font-size: 30px;
    color: rgb(200, 0, 0);
    text-align: center;
    text-shadow: 2px 2px #ababab;
    /* position: absolute;
    top: 0;
    left: 325px; */
}


.delete-section {
    text-align: center;
}

/* update 페이지 */
.update-th {
    width: 250px;
    border-right: 1px solid #000;
    background-color: rgba(215, 200, 169, 0.8);
}
.update-td-tit {
    width: 800px;
}
.update-tit {
    border: none;
    width: 90%;
    height: 70%;
    background-color: #ffffff8f;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    margin-left: 40px;
}
.update-td-cont {
    width: 800px;
    height: 400px;
}
.update-cont {
    border: none;
    width: 90%;
    height: 70%;
    background-color: #ffffff8f;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    resize: none;
    margin-left: 40px;

}
.update-a {
    border: none;
    font-size: 30px;
    background: none;
    padding: 0 20px;
}