body {
	margin: auto;
	width: 800px;

}

article {
	border: 1px dashed #ccc;
	width: 350px;
	height: 200px;
	margin: 10px;
	padding: 10px;
	float: left;
}

footer {
	border: 1px solid #000;
	text-align: center;
	color: white;
	font-size: 1.1rem ;
	line-height: 40px;
	background-color: black;
	clear: both;
}