@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: 'BMJUA';
}
/* customizable snowflake styling */
.snowflake {
    /* color: rgb(255, 200, 246); */
    font-size: 1em;
    /* font-family: Arial; */
    text-shadow: 0 0 1px #ffffff;
	opacity: 0.8;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
body {
	margin: 0;
	padding: 0;
	background-image: url(/mini_board/doc/cat5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 153px ;
}
header {
	width: 100%;
	background-color: rgba(248, 137, 47, 0.8);
	padding: 2rem;
}
header>h1 {
	margin: 0;
	color: #ffffff;
	text-align: center;
	font-size: 4rem;
}
header>h1>a {
	color: #ffffff;
}

main {
	width: 900px;
	height: 600px;
	margin: 50px auto;
	position: relative;
}
.main-div {
	width: 800px;
	margin: auto;
}
.main-div-a {
	position: absolute;
	bottom: 70px;
	right: 50px;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: rgba(86, 153, 31, 0.7);
	/* border-radius: 30%; */
	color: #ffffff;
}
.main-div-a:hover {
	color: #103a18;
}


table {
	border-collapse: collapse;
	width: 800px;
	height: 480px;
	margin: 120px auto 60px auto;
	font-size: 1.4rem;
}

tr, td {
	border-bottom: 1px solid #103a18;
	color: #103a18;
	text-align: center;
}
/* .list-td {
	background-color: rgba(86, 153, 31, 0.7);
	color: #ffffff;
} */
.table-title {
	border: none;
	background-color: rgba(86, 153, 31, 0.5);
	color: #ffffff;
	height: 75px;
}
section {
	text-align: center;
}
a {
	text-decoration: none;
	display: inline-block;
	color: #103a18;
}
.page-btn {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: rgba(86, 153, 31, 0.5);
	border-radius: 30%;
	color: #ffffff;
}
.act-btn {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #103a18;
	border-radius: 30%;
	color: #ffffff;
}
.page-btn:hover {
	color: #103a18;
}

/*********** insert 페이지 ************/
.insert-field {
	border: none;
	text-align: center;
}
.insert-container {
	text-align: center;
	margin: 120px auto 20px auto;
	width: 800px;
	vertical-align: middle;
	border: none;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.insert-tit {
	padding: 10px;
	border: none;
	min-width: 600px;
	height: 80px;
	outline: none;
	border-radius: 20px;
	font-size: 1.7rem;
}
.insert-cont {
	padding: 10px;
	border: none;
	min-width: 600px;
	height: 300px;
	border-radius: 20px;
	outline: none;
	resize: none;
	font-size: 1.3rem;
}
.insert-butt {
	padding: 0;
	width: 50px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: black;
	background-color: #ffffff; 
	border: none;
	font-size: 1.1rem;
}
.insert-butt:hover {
	background-color: rgba(86, 153, 31, 0.7);
	color: #ffffff;
}
.insert-container>label {
	width: 800px;
	height: 50px;
	padding: 10px;
	background-color: rgba(86, 153, 31, 0.7);
	border-radius: 20px;
	color: #ffffff;
	font-size: 2rem;
}
/*********** detail 페이지 ************/
.detail-container {
	width: 810px;
	margin: 120px auto 30px auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	/* border-radius: 20px; */
	border: 15px solid rgba(86, 153, 31, 0.7);
}

.detail-tr4 {
	border : none;
}
.detail-a {
	margin: 0;
	text-align: center;
}

/********* update 페이지 *********/
.update-a {
	padding: 0;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: black;
	background-color: #ffffff; 
	border: none;
	font-size: 1.1rem;
}
.update-a:hover {
	background-color: rgba(86, 153, 31, 0.7);
	color: #ffffff;
}
.update-td {
	width: 600px;
}
.update-td-cont {
	width: 600px;
	height: 300px;
}
.update-tit {
	padding: 10px;
	width: 500px;
	height: 40px;
	font-size: 1.4rem;
}
.update-cont {
	padding: 10px;
	width: 500px;
	height: 210px;
	font-size: 1.2rem;
	resize: none;
}

/********* delete 페이지 **********/
.delete-main {
	width: 900px;
	height: 600px;
	margin: 50px auto 0px auto;
}
.delete-container {
	width: 810px;
	margin: 60px auto 0px auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	/* border-radius: 20px; */
	border: 15px solid rgba(86, 153, 31, 0.7);
}