@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: 'BMJUA';
}
body {
	margin: 0;
	padding: 0;
	background-image: url(/mini_board/doc/cat3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 153px ;
}
header {
	width: 100%;
	background-color: rgba(248, 137, 47, 0.8);
	padding: 2rem;
}
header>h1 {
	margin: 0;
	color: #ffffff;
	text-align: center;
	font-size: 4rem;
}
header>h1>a {
	color: #ffffff;
}
/* .table-po {
	position: relative;
} */
.a-po {
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	/* border: 1px solid rgb(86, 153, 31); */
	background-color: rgba(86, 153, 31, 0.5);
	/* position: absolute;
	bottom: 30%;
	right: 30%; */
	color: #ffffff;
}
table {
	border-collapse: collapse;
	width: 700px;
	height: 500px;
	margin: 65px auto;
	font-size: 1.5rem;
}

td {
	border-bottom: 1px solid #424743;
	color: #103a18;
	text-align: center;
}

.table-title {
	border: none;
	background-color: rgba(86, 153, 31, 0.5);
	color: #ffffff;
}
section {
	text-align: center;
}
a {
	text-decoration: none;
	display: inline-block;
	
}
.page-btn {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: rgba(86, 153, 31, 0.7);
	border-radius: 30%;
	color: #ffffff;
}